<ul>
	<li>{{ name.text }}</li>
	<li>{{ email.label }}: <a href="mailto:{{ email.text }}">{{ email.text }}</a></li>
	<li>{{ phone.label }}: {{ phone.text }}</li>
	<li>{{ website.label }}: <a href="http://{{ website.text }}">{{ website.text }}</a></li>
	<li><iframe width="{{ movie.width }}" height="{{ movie.height }}" src="{{{ movie.src }}}" frameborder="0" allowfullscreen></iframe></li>
</ul>
